DEVICE=eth1
ONBOOT=yes
NM_CONTROLLED=no
USERCTL=no
PEERDNS=no
BOOTPROTO=static
IPADDR={{ fuel.all_ext_management.ip }}
NETMASK={{ fuel.all_ext_management.mask }}
GATEWAY={{ fuel.all_ext_management.gateway }}